<template name="afterModal">
    <div id="after-modal" class="modal">
        <div class="modal-content">
            <h4>Prochaines étapes</h4>
            {{#if lol}}
                <p class="flow-text">Votre équipe a bien été créée. Cependant, afin de compléter votre inscription, vous
                    devez enregistrer celle-ci.</p>
                <p class="flow-text">Pour cela, vous devez commencer par inviter tous les membres de votre équipe
                    (remplaçants y compris). Ensuite, il vous faudra vous inscrire sur l’événement Riot.</p>
            {{else}}
                <p>Votre équipe a bien été créée. Il suffit désormais d’inviter tous les membres de votre équipe (remplaçants y compris).</p>
            {{/if}}
            <p class="flow-text">Afin d’ajouter les autres membres de votre équipe, vous devrez leurs partager cette clé
                d’invitation : <kbd>{{teamKey}}</kbd>. Afin de faciliter la tâche, voici le lien de la page de votre
                équipe : {{pathFor 'team' teamId=teamId}}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>
</template>