<template name="completeModal">
    <div id="complete-modal" class="modal">
        <div class="modal-content">
            <h4>Votre profil est incomplet</h4>
            <p class="flow-text">Afin de créer une équipe {{game}}, vous devez encore compléter votre profil. C’est très
                simple, cliquez simplement sur le bouton ci-dessous.</p>
            <div id="complete-center">
                <a id="complete-profile-button" href="#profile-modal" class="modal-trigger waves-effect waves-light btn-large"><i
                        class="material-icons left">edit</i>Compléter mon profil</a>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>
</template>